@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Londrina+Sketch');

body {
    background-color: pink;
    width: 100%;
}

p {
    color: #6D0043;
    text-align: justify;
    text-indent: 2em;
    line-height: 2em;
    font-size: 1.2em;
}

a {
    color: #E50050;
    font-size: 1.55vw;
}

a:hover {
    color: #1300E5;
}

h1 {
    color: #3D0017; 
    font-family: 'Monoton', cursive;
    font-size: 10em;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

h2 {
    color: #8E0036;
    font-family: 'Fredericka the Great', cursive;
    font-size: 2em;
}
h3 { 
    color: #00ff99;
    font-size: 3vw;
    font-family: 'Londrina Sketch', cursive;
    text-align: center;
    vertical-align: middle;
    horizontal-align: middle;
}

h4 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 2vw;
    text-align: center;
    margin: 100px;
    padding: 60px;
    padding-bottom: 0.0px;
}

h6 { 
    font-family: 'Fredericka the Great', cursive;
    font-size: 2vw;
    text-align: center;
    padding: 50px;
}

h7 { 
    font-family: 'Fredericka the Great', cursive;
    font-size: 2vw;
    text-align: center;
    margin: 20px;
    padding: 410px;
}

.header {
    background-color: pink;
    width: 100%;
    margin-bottom: 50px;
}

.a-header {
    margin: 20px;
    text-align: center;
}

.main-welcome {
    background-colour: yellow; 
    width: 100%;
    height: 20px;
    padding-top: 50px;
}

.img-welcome {
    margin: 0;
    padding: 280px;
}

.main-knowkiblat {
    background-color: #800000;
    width: 100%;
    height: 65px;
}



.footer {
    background-color: #DD99BB;
}
      

.tab1 { 
    background-color: red;
    width: 50%;
    height: 65px;
    float: right;
}

.tab2 {
    background-color: yellow;
    width: 50%;
    height: 65px;
    float: left;
}



