@import url('https://fonts.googleapis.com/css?family=Pacifico|Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Pacifico|Permanent+Marker|Shadows+Into+Light');


body {
    background-color: pink;
}

p {
    color: #6D0043;
    text-align: justify;
    text-indent: 2em;
    line-height: 2em;
    font-size: 1.2em;
}

a {
    color: #E50050;
}

a:hover {
    color: #1300E5;
}

h1 {
    color: #3D0017; 
    font-family: 'Shadows Into Light', cursive;
    font-size: 5vw;
    font-weight: bold;
}

h2 {
    color: #8E0036;
    font-family: 'Permanent Marker', cursive;
}

h3 {
    color: #AA003B;
}

h4 {
    color: #6D0043;
}

div {
    background-color: #ADD8E6;
}

.tab1 {
    background-color: blue;
}

.tab2 { 
    background-color: aqua;

}



