@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Londrina+Sketch');

body {
    background-color: pink;
}

p {
    color: #6D0043;
    text-align: justify;
    text-indent: 2em;
    line-height: 2em;
    font-size: 1.2em;
}

a {
    color: #E50050;
    font-size: 1.55vw;
}|

a:hover {
    color: #1300E5;
}

h1 {
    color: #3D0017; 
    font-family: 'Monoton', cursive;
    font-size: 10em;
    font-weight: bold;
}

h2 {
    color: #8E0036;
    font-family: 'Fredericka the Great', cursive;
    font-size: 4em;
}
h3 { 
    color: #AA003B;
    font-size: 2vw;
    font-family: 'Londrina Sketch', cursive;
}

.header {
    background-color: pink;
    width: 100%;
    height: 300px;
    text-align: center;
    vertical-align: baseline;
    padding-top: inherit;
    position: relative;
}

.tab1 { 
    background-color: red;
    width: 50%;
    height: 65px;
    float: right;
}

.tab2 {
    background-color: yellow;
    width: 50%;
    height: 65px;
    float: left;
}



